<blockquote>
  <p>Globfone allows you to send text messages to your friends and family anywhere in the world for FREE using Blockchain Technology</p>
  <footer><a href="https://www.globfone.net" target="_blank">www.globfone.net</a></footer>
</blockquote>
